

.sheet-boxed{
    border: 2px solid black;
    vertical-align:top;
    width:500px;
    padding-bottom:10px;
}


.sheet-long-text {
 padding-top:2px;
 padding-bottom:2px;
}
 white-space: initial;
 vertical-align: middle;
}

.sheet-bold{
    font-size: 12pt;
    margin-bottom: 10px;
}

.sheet label, h1{
    color:red;
    text-decoration: underline;

}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: left;

}